receivers:
  oxide:
    # Note: uncomment to configure Oxide API authentication. By default, the
    # collector uses the $OXIDE_{PROFILE,HOST,TOKEN} environment variables.
    # host: ${env:OXIDE_HOST}
    # token: ${env:OXIDE_TOKEN}
    metric_patterns:
    - virtual_machine:.*
    - virtual_disk:.*
    - hardware_component:.*
    add_labels: true
    add_utilization_metrics: true
    collection_interval: 60s

processors:
  batch:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9091"
    translation_strategy: UnderscoreEscapingWithSuffixes
    resource_to_telemetry_conversion:
      enabled: true

service:
  telemetry:
    metrics:
      level: detailed
      readers:
      - pull:
          exporter:
            prometheus:
              host: 0.0.0.0
              port: 8888

  pipelines:
    metrics:
      receivers: [oxide]
      processors: [batch]
      exporters: [prometheus]
